header{
  background-color: rgb(33, 58, 83);
  url("../img/logo.png")
  width: 100%;
  border: 3px solid white;
  position: relative;
  color: white;
/*
  -how to move up the header
  -how to have a white line ONLY on bottom
  -how to make the background color exactly the same
  -how to make the link colors different (color: isn't working)
   */
}

body{
  background-image: url("../img/airline.jpg");
  margin: 0;
  color: white;
}

nav{
  position: absolute;
  width: 100%;
  right: 1%;
  left: 60%;
  top: 5%;
  color: white;
  /* -how to space out the nav icons? */
} 

a:link{
  color: white;
  /* -this doesn't do anything...? */
}

.icons{
  display: flex;
  position: relative;
}

.plane{
  background-color: green;
}

.hotel{
  background-color: orange;
}

.car{
  background-color: orange;
}

main{
  background-color: navy;
  width: 40%;
  height: 40%;
  padding: 20px;
  margin-top: 250px;
}

.boxes> div{
  text-align: center;
  display:inline-block;
  border: 3px solid white;
  border-radius: 5px;
  width: 37%;
  position: relative;
  margin-left:auto;
  margin-right: 40px;
  margin:3%;
  /* -so I figured it out, but I think I was supposed to use flex? */
}

.onepassenger{
  text-align: center;
  display:inline-block;
  border: 3px solid white;
  border-radius: 5px;
  width: 18%;
  position: relative;
  margin-left:auto;
  margin-right: 40px;
  margin:3%;
}

.radiobuttons{
  text-align: center;
  display:inline-block;
}

.button{
  text-align: center;
  position: relative;
}
