

body{
  margin: 0 auto;
  width: 850px;
}

.flexboxcontainer{
  background-image: url("../img/nasa-background.jpg");
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.header{
  font-size: 30pt;
  font-family: 'Arial', sans-serif;
  color: white;
}

.secondbox{
  display: flex;
background: gray;
width: 850px;
height: 324px;
margin-top: 20px;
}

.column1{
  display: flex;
  background: lightblue;
  width: 270px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-direction: column;
}

.column2{
  display: flex;
  background: lightpink;
  width: 270px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.column3{
  display: flex;
  background: lightgreen;
  width: 270px;
  justify-content: center;
  align-items: center;
}

.text1 , .text2, .text3{
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  align-self: flex-start;
}

.message{
  height: 100px;
}

.link{
  display: flex;
  background-color: black;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
    padding-bottom: 4%;
  margin: 0 auto;
  justify-content: flex-start;
  font-family: 'Arial', sans-serif;
}
