body {
  background-color: white;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

h1 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 15%;
  background-color: black;
  font-family: 'Homemade Apple', cursive;
  font-style: italic;
  color: rgb(238, 225, 222);
  letter-spacing: 4pt;
  font-size: 45pt;
}

/* .coffee{
  margin: 0 auto;
  width: 150%;
} */

.link {
  display: flex;
  z-index: 2;
  position: relative;
  justify-content: center;
}

.grid {
  font-family: 'Courier New', serif;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: .5em;
  grid-row: auto;
  grid-template-areas: "box1 box2" "box3 box4" "box3 box4" "box4 box4" "box5 box5" "box6 box6";
}

h2 {
  padding-left: 2%;
}

.box1 {
  grid-area: box 1;
  grid-row: 1/3;
  background-color: rgb(244, 240, 233);
  box-shadow: 2px 2px rgb(103, 66, 50);
}

.box2 {
  grid-area: box 2;
  grid-row: 1/3;
  background-color: rgb(244, 240, 233);
  box-shadow: 2px 2px rgb(103, 66, 50);
}

.box3 {
  grid-area: box 3;
  grid-row: 3/5;
  background-color: rgb(244, 240, 233);
  box-shadow: 2px 2px rgb(103, 66, 50);
}

.box4 {
  grid-area: box 4;
  grid-row: 5/8;
  background-color: rgb(244, 240, 233);
  box-shadow: 2px 2px rgb(103, 66, 50);
}

.box5 {
  grid-area: box 5;
  grid-row: 3/6;
  background-color: rgb(244, 240, 233);
  box-shadow: 2px 2px rgb(103, 66, 50);
}

.box6 {
  grid-area: box 6;
  grid-row: 6/8;
  background-color: rgb(244, 240, 233);
  box-shadow: 2px 2px rgb(103, 66, 50);
}

.radio {
  display: flex;
  width: 50%;
  height: 20%;
  margin: 1%;
  border: 4px solid black;
}

.barretts {
  display: flex;
  width: 60%;
  height: 20%;
  margin: 1%;
  border: 4px solid black;
}

.quacks {
  display: flex;
  width: 50%;
  height: 20%;
  margin: 1%;
  border: 4px solid black;
}

.monkeynest {
  /* display: flex;
  width: 50%;
  height: 20%; */
  margin: 1%;
  border: 4px solid black;
}

.greatergoods {
  /* display: flex;
  width: 50%;
  height: 20%; */
  margin: 1%;
  border: 4px solid black;
}

.cafebennu {
  /* display: flex;
  width: 50%;
  height: 20%; */
  margin: 1%;
  border: 4px solid black;
}
